body {
   /* background-color: antiquewhite; */
   height: 100vh;
   width: 100%;
   overflow-x: hidden; 
   margin: 0;
   display: flex;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
h2{
   margin: 0;
}
img {
   max-width: 100%;
   display: block;
}

.container{ 
   margin: 0 auto;
   width: 80%;
   min-height: 100%;
   /* border: 2px solid pink; */
   display: flex;
   align-items: center;
   justify-content: center;
}

.memes_container{
   height: auto;
   display: flex;
   flex-flow: column;
   width: 52rem;
   padding: 1.7rem 1.3rem;
   border-radius: 0.3rem;
   /* border: 2px solid hotpink; */
   background-color: whitesmoke;
   background-size: cover;
   background-image: url(assets/Фон.jpg);
}

.memes{
   /* border: 2px solid purple; */
   width: 100%;
   margin-bottom: 1rem;
   overflow: hidden;
   height: 30rem;
   border-radius: 0.3rem;
}
.memes_content{
   width: calc(100% * 4);
   height: 100%;
   display: flex;
   transition: all 0.7s;
}
.memes_content-image{
   object-fit: cover;
   width: calc(100% / 4);
   height: 100%;
}

.memes_description{
   border: 2px solid purple;
   width: 100%;
   height: auto;
   display: flex;
   flex-flow: row-reverse;
   padding: 1.5rem 1.5rem;
}


.text{
   overflow: hidden;
   width: 60%;
}
.text_description {
   width: calc(100% * 4);
   display: flex;
   justify-content: flex-start;
   height: 100%;
   /* border: 2px solid greenyellow; */
   padding: 1.5rem 1.5rem;
}
.text_description-font{
   width: calc(100% / 4);
   font-family: 'Rock Salt', cursive;
   font-size: 30px;
   line-height: 0;

}

.bullets{
   width: 40%;
   height: 100%; 
   display: flex;
   justify-content: flex-end;
}
.bullets label{
   width: 2rem;
   height: 2rem;
}
.bullet{ 
   cursor: pointer;
   transition: 0.5s;
   display: block;
   width: 1rem;
   height: 1rem;
   border-radius: 50%;
   background: greenyellow;
   transition: 0.6s;
}
.bullet:hover {
   background: hotpink;
}
.bullet label:hover .bullets{
   background-color: #fff;
   border-color: #fff;
 }


.memes_container-radio{
   display: none;
}

#memes1:checked ~ .memes .memes_content,
#memes1:checked ~ .memes_description .text .text_description {
   margin-left: 0;
}
#memes2:checked ~ .memes .memes_content,
#memes2:checked ~ .memes_description .text .text_description {
   margin-left: -100%;
}
#memes3:checked ~ .memes .memes_content,
#memes3:checked ~ .memes_description .text .text_description {
   margin-left: -200%;
}
#memes4:checked ~ .memes .memes_content,
#memes4:checked ~ .memes_description .text .text_description {
   margin-left: -300%;
}