body {
   background-color: antiquewhite;
   min-height: 100vh;
   width: 100%;
   overflow-x: hidden; 
   margin: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
img {
   max-width: 100%;
   display: block;
}

.container{ 
   margin: 0 auto;
   width: 80%;
   min-height: 100%;
   border: 2px solid pink;
   padding: 8%;
}

.memes_container{
   border: 2px solid red;
   min-height: 100%;
   display: flex;
   flex-flow: column;
}

.memes{
   border: 2px solid purple;
   width: 100%;
   height: 50%;
   margin-bottom: 4%;
}

.memes_description{
   border: 2px solid purple;
   width: 100%;
   height: 30%;
   display: flex;
   flex-flow: row-reverse
}

.description{
   width: 60%;
   height: 100%;
   border: 2px solid greenyellow;
}

.bullets{
   width: 40%;
   height: 100%;
   
}